# Simple

In [1]:
import sqlite3

conn = sqlite3.connect("mydatabase.db")

cursor = conn.cursor()

conn.close()

Penjelasan:

Dalam contoh ini, kita menggunakan modul sqlite3 untuk terhubung ke basis data SQLite.

Koneksi dibuka ke database, dan sebuah kursor dibuat untuk menjalankan perintah SQL.

Setelah operasi selesai, koneksi ditutup.

In [4]:
import sqlite3

conn = sqlite3.connect("mydatabase.db")
cursor = conn.cursor()

cursor.execute('''CREATE TABLE mahasewa (nama TEXT, usia INT)''')

data_mahasiswa = [
    ('Alice', 25),
    ('Bob', 22),
    ('Charlie', 28),
    ('David', 21),
    ('Eve', 23),
    ('Frank', 26),
    ('Grace', 24),
    ('Hannah', 27),
    ('Isaac', 22),
    ('Jack', 30)
]

cursor.executemany("INSERT INTO mahasewa (nama, usia) VALUES (?, ?)", data_mahasiswa)

conn.commit()

Penjelasan:

Dalam contoh ini, kita membuat tabel dalam basis data SQLite ('mahasiswa') dan memasukkan beberapa data ke dalamnya.
Data mahasiswa disisipkan menggunakan executemany, yang memungkinkan kita untuk menyisipkan beberapa baris data sekaligus.
Setelah operasi selesai, perubahan dicommit dan koneksi ditutup.

# Intermediate

In [8]:
import sqlite3

# conn = sqlite3.connect('mydatabase.db')
# cursor = conn.cursor()

# Meminta input pengguna
nama = input("Masukkan nama: ")

# Menjalankan perintah SQL
cursor.execute(f"SELECT * FROM mahasewa WHERE nama = '{nama}'")

# Mengambil data
data = cursor.fetchall()

if data:
    for row in data:
        print("Nama:", row[0])
        print("Usia:", row[1])
else:
    print("Data tidak ditemukan.")

# conn.close()

Nama: Alice
Usia: 25

# Advanced

In [9]:
import sqlite3

conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()

# Menjalankan kueri gabungan
cursor.execute("""SELECT mahasewa.nama, mata_kuliah.kode
                FROM mahasewa
                JOIN mata_kuliah
                ON mahasewa.id = mata_kuliah.mahasewa_id""")

data = cursor.fetchall()

for row in data:
    print("Nama Mahasiswa:", row[0])
    print("Kode Mata Kuliah:", row[1])

conn.close()

OperationalError: no such table: mata_kuliah

In [10]:
import sqlite3
import csv

# conn = sqlite3.connect('mydatabase.db')
# cursor = conn.cursor()

# Menjalankan kueri
cursor.execute("SELECT * FROM mahasewa")

data = cursor.fetchall()

with open('output.csv', 'w', newline='') as csv_file:
    csv_writer = csv.writer(csv_file)

    # Menulis header
    csv_writer.writerow([i[0] for i in cursor.description])

    # Menulis data
    csv_writer.writerows(data)

conn.close()