# Simple

In [1]:
import sqlite3

conn = sqlite3.connect("mydatabase.db")

cursor = conn.cursor()

conn.close()

Penjelasan:

Dalam contoh ini, kita menggunakan modul sqlite3 untuk terhubung ke basis data SQLite.

Koneksi dibuka ke database, dan sebuah kursor dibuat untuk menjalankan perintah SQL.

Setelah operasi selesai, koneksi ditutup.

In [4]:
import sqlite3

conn = sqlite3.connect("mydatabase.db")
cursor = conn.cursor()

cursor.execute('''CREATE TABLE mahasewa (nama TEXT, usia INT)''')

data_mahasiswa = [
    ('Alice', 25),
    ('Bob', 22),
    ('Charlie', 28),
    ('David', 21),
    ('Eve', 23),
    ('Frank', 26),
    ('Grace', 24),
    ('Hannah', 27),
    ('Isaac', 22),
    ('Jack', 30)
]

cursor.executemany("INSERT INTO mahasewa (nama, usia) VALUES (?, ?)", data_mahasiswa)

conn.commit()

Penjelasan:

Dalam contoh ini, kita membuat tabel dalam basis data SQLite ('mahasiswa') dan memasukkan beberapa data ke dalamnya.
Data mahasiswa disisipkan menggunakan executemany, yang memungkinkan kita untuk menyisipkan beberapa baris data sekaligus.
Setelah operasi selesai, perubahan dicommit dan koneksi ditutup.

# Intermediate

In [8]:
import sqlite3

# conn = sqlite3.connect('mydatabase.db')
# cursor = conn.cursor()

# Meminta input pengguna
nama = input("Masukkan nama: ")

# Menjalankan perintah SQL
cursor.execute(f"SELECT * FROM mahasewa WHERE nama = '{nama}'")

# Mengambil data
data = cursor.fetchall()

if data:
    for row in data:
        print("Nama:", row[0])
        print("Usia:", row[1])
else:
    print("Data tidak ditemukan.")

# conn.close()

Nama: Alice
Usia: 25