checkpoint: ini deng yang bener untuk checkpoint pandas datetime

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from datetime import datetime
import datetime as dt 
import matplotlib.pyplot as plt

In [3]:
dataset = sns.load_dataset("taxis")

In [4]:
dataset.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB

In [6]:
dataset = sns.load_dataset("taxis")
dataset["pickup"] = pd.to_datetime(dataset["pickup"])
dataset["dropoff"] = pd.to_datetime(dataset["dropoff"])
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB

Kode yang kamu berikan adalah skrip Python yang menggunakan **library `seaborn` (`sns`)** dan **`pandas` (`pd`)** untuk memuat dan memproses sebuah dataset. Mari dijelaskan bagian per bagiannya:

```python
dataset = sns.load_dataset("taxis")
```

➡️ Ini memuat **dataset contoh bernama "taxis"** dari pustaka `seaborn`. Dataset ini berisi data perjalanan taksi, seperti waktu penjemputan, pengantaran, jumlah penumpang, jarak, biaya, dll.

```python
dataset["pickup"] = pd.to_datetime(dataset["pickup"])
dataset["dropoff"] = pd.to_datetime(dataset["dropoff"])
```

➡️ Dua kolom, yaitu `pickup` dan `dropoff`, dikonversi dari format string menjadi format datetime menggunakan `pandas.to_datetime()`. Ini penting agar kamu bisa melakukan analisis waktu seperti durasi perjalanan, filter berdasarkan tanggal, dsb.

```python
dataset.info()
```

➡️ Ini menampilkan informasi ringkas tentang dataset, termasuk jumlah baris, tipe data tiap kolom, dan apakah ada nilai yang null.

---

### Kebutuhan library:

Kamu butuh import berikut di awal file agar kode bisa jalan:

```python
import seaborn as sns
import pandas as pd
```

---

### Contoh output `dataset.info()`:

Kurang lebih seperti ini:

```
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64323 entries, 0 to 64322
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype         
---  ------      --------------  -----         
 0   pickup      64323 non-null  datetime64[ns]
 1   dropoff     64323 non-null  datetime64[ns]
 ...
```

---

In [7]:
dataset["dropoff"].dt.tz_localize("UTC").dt.tz_convert("Asia/Jakarta")

0      2019-03-24 03:27:24+07:00
1      2019-03-04 23:19:00+07:00
2      2019-03-28 01:00:25+07:00
3      2019-03-10 08:49:51+07:00
4      2019-03-30 20:37:14+07:00
                  ...
6428   2019-03-31 16:55:27+07:00
6429   2019-04-01 01:34:23+07:00
6430   2019-03-24 06:14:25+07:00
6431   2019-03-04 17:14:29+07:00
6432   2019-03-14 02:48:02+07:00
Name: dropoff, Length: 6433, dtype: datetime64[ns, Asia/Jakarta]

Kode berikut:

```python
dataset["dropoff"].dt.tz_localize("UTC").dt.tz_convert("Asia/Jakarta")
```

adalah **operasi konversi zona waktu** (`timezone`) pada kolom `dropoff` di sebuah DataFrame `pandas`.

### Penjelasan langkah per langkah:

1. **`dataset["dropoff"]`**
   Mengambil kolom `dropoff`, yang sebelumnya sudah dikonversi menjadi `datetime64[ns]` (dengan `.to_datetime()` sebelumnya).

2. **`.dt.tz_localize("UTC")`**
   Memberi informasi bahwa waktu yang ada saat ini **tidak punya informasi timezone**, dan kamu ingin menyatakan bahwa waktu tersebut sebenarnya berada di **zona waktu UTC**.

3. **`.dt.tz_convert("Asia/Jakarta")`**
   Mengubah waktu dari UTC menjadi zona waktu **Asia/Jakarta** (WIB / GMT+7).

---

### Contoh:

Misalnya nilai di kolom `dropoff` awalnya:

```
2020-01-01 12:00:00
```

Setelah `tz_localize("UTC")`, menjadi:

```
2020-01-01 12:00:00+00:00
```

Lalu setelah `tz_convert("Asia/Jakarta")`, menjadi:

```
2020-01-01 19:00:00+07:00
```

---

### Penting:

* `tz_localize()` digunakan **hanya jika datetimenya belum punya timezone**.
* Jika kolom `dropoff` sudah punya timezone, kamu **tidak boleh** pakai `tz_localize()`, langsung gunakan `tz_convert()` saja.

---

Kalau kamu mau menyimpan hasilnya kembali ke kolom `dropoff`, tinggal tambah assignment:

```python
dataset["dropoff"] = dataset["dropoff"].dt.tz_localize("UTC").dt.tz_convert("Asia/Jakarta")
```

In [8]:
dataset["pickup"].dt.to_period("1w")

/tmp/ipykernel_10733/720067641.py:1: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  dataset["pickup"].dt.to_period("1w")

0       2019-03-18/2019-03-24
1       2019-03-04/2019-03-10
2       2019-03-25/2019-03-31
3       2019-03-04/2019-03-10
4       2019-03-25/2019-03-31
                ...
6428    2019-03-25/2019-03-31
6429    2019-03-25/2019-03-31
6430    2019-03-18/2019-03-24
6431    2019-03-04/2019-03-10
6432    2019-03-11/2019-03-17
Name: pickup, Length: 6433, dtype: period[W-SUN]

Baris kode ini:

```python
dataset["pickup"].dt.to_period("1w")
```

berfungsi untuk **mengubah nilai datetime di kolom `pickup` menjadi periode mingguan (`1w`)** menggunakan `pandas`.

---

### Penjelasan detail:

* **`dataset["pickup"]`**
  Mengambil kolom `pickup` yang isinya adalah tipe data `datetime64[ns]`.

* **`.dt.to_period("1w")`**
  Mengubah setiap nilai datetime menjadi objek `Period` mingguan. Ini berarti setiap tanggal diubah menjadi **representasi minggu** tempat tanggal tersebut berada.

---

### Contoh:

Jika `pickup` berisi:

```text
2020-01-02
2020-01-06
```

Maka hasil `to_period("1w")` adalah:

```text
2020-01-01/2020-01-07
2020-01-06/2020-01-12
```

> Artinya: tanggal tersebut termasuk dalam minggu yang dimulai dari Rabu 1 Jan sampai Selasa 7 Jan, dan seterusnya.

---

### Kenapa berguna?

* Untuk **mengelompokkan data berdasarkan minggu**.
* Cocok dipakai untuk agregasi mingguan, seperti:

```python
dataset.groupby(dataset["pickup"].dt.to_period("1w")).size()
```

➡️ Menghitung jumlah entri per minggu.

---

### Catatan:

* `"1w"` secara default memulai minggu dari **hari Rabu**, sesuai standar ISO 8601 di `pandas`.
* Jika kamu ingin minggu mulai dari hari tertentu (misal Senin), kamu bisa pakai `"W-MON"`:

```python
dataset["pickup"].dt.to_period("W-MON")
```

---

In [9]:
(dataset["dropoff"] - dataset["pickup"])

0      0 days 00:06:15
1      0 days 00:07:05
2      0 days 00:07:24
3      0 days 00:25:52
4      0 days 00:09:32
             ...
6428   0 days 00:03:34
6429   0 days 00:56:23
6430   0 days 00:19:07
6431   0 days 00:05:04
6432   0 days 00:16:40
Length: 6433, dtype: timedelta64[ns]

In [10]:
(dataset["dropoff"] - dataset["pickup"]).dt.seconds / 60

0        6.250000
1        7.083333
2        7.400000
3       25.866667
4        9.533333
          ...
6428     3.566667
6429    56.383333
6430    19.116667
6431     5.066667
6432    16.666667
Length: 6433, dtype: float64

Ya, betul! Kode ini:

```python
(dataset["dropoff"] - dataset["pickup"]).dt.seconds / 60
```

menghitung \*\*durasi antara `pickup` dan `dropoff` dalam satuan **menit**, **tetapi hanya menghitung sisa detiknya dalam satu hari** — **bukan total durasi penuh**.

---

### Penjelasan:

* **`dataset["dropoff"] - dataset["pickup"]`**
  Menghasilkan kolom bertipe `timedelta`, yaitu selisih waktu antar dua datetime.

* **`.dt.seconds`**
  Mengambil jumlah **detik yang tersisa di dalam hari (≤ 86399 detik)** dari timedelta — **tidak termasuk jumlah hari**.

* **`/ 60`**
  Mengonversi detik menjadi **menit**.

---

### ⚠️ Masalah:

Jika perjalanan lebih dari **1 hari**, maka `.dt.seconds` **tidak akan menghitung total durasi yang sebenarnya**.

---

### ✅ Solusi lebih akurat:

Kalau kamu mau menghitung **total durasi dalam menit, termasuk hari jika ada**, pakai `.dt.total_seconds()`:

```python
(dataset["dropoff"] - dataset["pickup"]).dt.total_seconds() / 60
```

🔹 Ini akan menghitung total selisih menit dengan benar, berapa pun lama waktunya.

---

### Contoh perbandingan:

Misal `pickup = 2020-01-01 23:00:00`, `dropoff = 2020-01-02 01:00:00`

* `dt.seconds / 60` → hasilnya `120.0` menit ❌ (tidak salah di contoh ini, tapi bisa keliru kalau lebih dari 1 hari)
* `dt.total_seconds() / 60` → hasilnya tetap `120.0` menit ✅ (selalu akurat)

Tapi kalau selisihnya **2 hari dan 2 jam**, `dt.seconds` cuma kasih `7200` detik (2 jam), sementara `dt.total_seconds()` kasih `187200` detik (2 hari + 2 jam).

---

### Kesimpulan:

> ✔️ **Gunakan `.dt.total_seconds() / 60` untuk menghitung total durasi dalam menit secara akurat.**

Butuh bantu buat kolom baru di DataFrame untuk durasi per menit? Bisa juga, tinggal:

```python
dataset["durasi_menit"] = (dataset["dropoff"] - dataset["pickup"]).dt.total_seconds() / 60
```

In [12]:
dataset["dropoff"] + pd.DateOffset(years=4)

0      2023-03-23 20:27:24
1      2023-03-04 16:19:00
2      2023-03-27 18:00:25
3      2023-03-10 01:49:51
4      2023-03-30 13:37:14
               ...
6428   2023-03-31 09:55:27
6429   2023-03-31 18:34:23
6430   2023-03-23 23:14:25
6431   2023-03-04 10:14:29
6432   2023-03-13 19:48:02
Name: dropoff, Length: 6433, dtype: datetime64[ns]

Baris kode ini:

```python
dataset["dropoff"] + pd.to_timedelta(4, unit="Y")
```

berusaha menambahkan **durasi 4 tahun** ke setiap nilai waktu di kolom `dropoff`.

---

### Tapi... ⚠️ Ini akan error!

`pandas.to_timedelta` **tidak mendukung satuan "Y" (year/tahun)** karena:

* **Tahun tidak memiliki durasi yang tetap** (365 atau 366 hari).
* `Timedelta` hanya bekerja dengan satuan **yang tetap durasinya**, seperti:

  * `"D"` (hari),
  * `"h"` (jam),
  * `"m"` (menit),
  * `"s"` (detik),
  * dll.

---

### 🔴 Error yang akan muncul:

```plaintext
ValueError: Invalid frequency: Y
```

---

### ✅ Solusi jika ingin menambahkan **tahun** ke datetime:

Gunakan `pd.DateOffset`:

```python
dataset["dropoff"] + pd.DateOffset(years=4)
```

📌 `DateOffset` bisa menangani:

* `years=...`
* `months=...`
* `days=...`
* `hours=...`
* dll

dan secara otomatis memperhitungkan kalender (termasuk tahun kabisat).

---

### Contoh:

```python
import pandas as pd

# Contoh waktu
dt = pd.Timestamp("2020-02-29")

# Tambah 4 tahun
dt_plus_4 = dt + pd.DateOffset(years=4)

print(dt_plus_4)  # Hasil: 2024-02-29 (tahun kabisat tetap aman)
```

---

### Kesimpulan:

> ❌ `pd.to_timedelta(4, unit="Y")` → **tidak valid**
> ✅ Gunakan `pd.DateOffset(years=4)` untuk menambah 4 tahun dengan benar.

In [13]:
dataset["dropoff"].mean()

Timestamp('2019-03-16 08:45:49.491217408')

In [14]:
dataset.groupby("payment").resample("1d", 
                                    on = "pickup").agg({"passengers" : "max",
                                           "tip" : "max"})

                        passengers    tip
payment     pickup
cash        2019-02-28           1   0.00
            2019-03-01           6   0.00
            2019-03-02           6   0.00
            2019-03-03           6   0.00
            2019-03-04           6   0.00
...                            ...    ...
credit card 2019-03-27           6  16.39
            2019-03-28           6  20.80
            2019-03-29           6  23.19
            2019-03-30           6  20.08
            2019-03-31           6  12.21

[63 rows x 2 columns]

Kode berikut:

```python
dataset.groupby("payment").resample("1d", 
                                    on="pickup").agg({"passengers": "max",
                                                      "tip": "max"})
```

adalah operasi **grouping + resampling waktu** menggunakan `pandas`. Ini cukup canggih karena menggabungkan **groupby kategori (`payment`)** dan **resample berdasarkan waktu (`pickup`)** secara bersamaan.

---

### ✅ Tujuannya:

Untuk menghitung **nilai maksimum `passengers` dan `tip`** per hari (`1d`) **untuk setiap metode pembayaran (`payment`)**.

---

### Penjelasan langkah demi langkah:

#### 1. `groupby("payment")`

Mengelompokkan data berdasarkan kolom `payment`, misalnya: `credit card`, `cash`, dll.

#### 2. `.resample("1d", on="pickup")`

Melakukan *resampling waktu harian* (`"1d"` = 1 day), berdasarkan kolom waktu `pickup`.

* **`on="pickup"`**: karena kolom `pickup` bukan index, kita harus beri tahu bahwa `resample` harus menggunakannya sebagai waktu acuan.
* Ini akan membuat "subgroup" harian di dalam setiap grup `payment`.

#### 3. `.agg(...)`

Melakukan agregasi:

* `"passengers": "max"` → mengambil jumlah penumpang maksimum dalam tiap grup harian per metode pembayaran.
* `"tip": "max"` → mengambil tip maksimum dalam grup yang sama.

---

### 🔄 Contoh hasil akhir:

Misalnya hasilnya seperti ini:

| payment     | pickup     | passengers | tip  |
| ----------- | ---------- | ---------- | ---- |
| cash        | 2020-01-01 | 4          | 12.5 |
| cash        | 2020-01-02 | 3          | 8.0  |
| credit card | 2020-01-01 | 2          | 5.0  |
| credit card | 2020-01-02 | 5          | 15.0 |

> Setiap baris menunjukkan **nilai maksimum** untuk satu hari dan satu jenis pembayaran.

---

### 🧠 Syarat penting:

Agar kode ini jalan tanpa error:

* `pickup` harus bertipe **datetime** (sudah pakai `pd.to_datetime()`).
* Perhatikan bahwa hasilnya akan memiliki **multi-index**: `payment` dan `pickup`.

---

### Bonus – Reset index jika perlu:

Kalau kamu mau hasilnya jadi DataFrame biasa (bukan MultiIndex), tinggal tambahkan:

```python
.reset_index()
```

Contoh:

```python
result = dataset.groupby("payment").resample("1d", on="pickup").agg({
    "passengers": "max",
    "tip": "max"
}).reset_index()
```

---

In [15]:
dataset["pickup_hmin1"] = dataset["pickup"].shift(1)

Baris kode ini:

```python
dataset["pickup_hmin1"] = dataset["pickup"].shift(1)
```

adalah operasi `shift` pada kolom `pickup`, yang hasilnya disimpan ke kolom baru bernama `pickup_hmin1`.

---

### ✅ Penjelasan:

* **`shift(1)`** berarti menggeser nilai ke **bawah 1 baris**, jadi setiap baris akan berisi **nilai `pickup` dari baris sebelumnya (H-1)**.
* `NaT` (Not a Time) akan muncul di baris pertama karena tidak ada data sebelumnya.

---

### 🔍 Tujuannya:

Biasanya digunakan untuk:

* **Membandingkan dua waktu antar baris**, misalnya:

  * Durasi antar perjalanan.
  * Jeda waktu antar event.
* **Membuat fitur "lag"** dalam data time-series atau pemodelan machine learning.

---

### 🔄 Contoh:

Misalnya kolom `pickup` seperti ini:

| index | pickup              |
| ----- | ------------------- |
| 0     | 2020-01-01 08:00:00 |
| 1     | 2020-01-01 09:00:00 |
| 2     | 2020-01-01 10:30:00 |

Setelah `shift(1)`:

| index | pickup              | pickup\_hmin1       |
| ----- | ------------------- | ------------------- |
| 0     | 2020-01-01 08:00:00 | NaT                 |
| 1     | 2020-01-01 09:00:00 | 2020-01-01 08:00:00 |
| 2     | 2020-01-01 10:30:00 | 2020-01-01 09:00:00 |

---

### 🔧 Kombinasi umum:

Kamu bisa hitung selisih antar pickup:

```python
dataset["selisih_menit"] = (dataset["pickup"] - dataset["pickup_hmin1"]).dt.total_seconds() / 60
```

Untuk tahu jarak waktu antar baris.

---

### Kesimpulan:

> ✔️ `shift(1)` berguna untuk membuat kolom waktu sebelumnya ("pickup H-1") agar bisa dibandingkan atau dianalisis lebih lanjut.

In [16]:
dataset["pickup"] - dataset["pickup_hmin1"]

0                     NaT
1      -20 days +19:50:46
2        23 days 01:41:06
3      -18 days +07:30:58
4        20 days 12:03:43
              ...
6428      7 days 15:25:44
6429      0 days 07:46:07
6430    -8 days +05:17:18
6431   -20 days +11:14:07
6432      9 days 09:21:57
Length: 6433, dtype: timedelta64[ns]

In [17]:
dataset.sort_values("pickup")["passengers"].rolling(3).max()

6203    NaN
884     NaN
2882    3.0
4212    3.0
661     4.0
       ...
4220    1.0
2849    1.0
542     1.0
4067    1.0
591     5.0
Name: passengers, Length: 6433, dtype: float64

Baris kode ini:

```python
dataset.sort_values("pickup")["passengers"].rolling(3).max()
```

adalah operasi **rolling window (jendela geser)** dengan ukuran 3 baris, lalu mengambil nilai **maksimum** dari kolom `passengers` dalam setiap jendela tersebut. Sebelumnya, data diurutkan berdasarkan waktu `pickup`.

---

### ✅ Penjelasan langkah per langkah:

1. **`dataset.sort_values("pickup")`**
   Mengurutkan dataset berdasarkan waktu `pickup`, supaya rolling window berjalan urut sesuai waktu.

2. **`["passengers"]`**
   Mengambil kolom `passengers` untuk diproses.

3. **`.rolling(3)`**
   Membuat rolling window (jendela bergeser) **dengan ukuran 3 baris**, artinya setiap baris akan melihat 3 baris terakhir (termasuk dirinya sendiri).

4. **`.max()`**
   Menghitung nilai **maksimum** dari 3 nilai dalam jendela tersebut.

---

### 🔍 Contoh:

Misalnya kolom `passengers` (sudah diurutkan):

```
index | pickup     | passengers
0     | 08:00:00   | 1
1     | 08:30:00   | 3
2     | 09:00:00   | 2
3     | 09:30:00   | 5
```

Maka hasil rolling `max()` dengan window 3:

```
index | rolling_max_3
0     | NaN     ← kurang dari 3 data
1     | NaN     ← kurang dari 3 data
2     | 3       ← max(1, 3, 2)
3     | 5       ← max(3, 2, 5)
```

---

### 📌 Catatan penting:

* Rolling bersifat **berbasis urutan baris**, bukan waktu — jadi pastikan sudah `sort_values` terlebih dahulu jika berurusan dengan data waktu.
* Jika ingin rolling berdasarkan waktu (misalnya "3 hari terakhir"), bisa pakai:

  ```python
  .rolling("3d", on="pickup")
  ```

---

### Kesimpulan:

> ✔️ Kode ini digunakan untuk melihat **nilai maksimum jumlah penumpang dalam 3 perjalanan terakhir**, berdasarkan urutan waktu `pickup`.